html,body{
display: flex;
justify-content: center;
align-items: center;
height: 100vh; /* Full viewport height */
}

.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px double black;
    height: 450px;
    width: 300px;
    margin: 0 auto;  
    background-color: black;
    border-radius: 10px;
}

#display{
    width: 290px;
    height: 60px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: rgb(37, 36, 36);
    border-radius: 10px;
    font-size: xx-large;
    color: white;
    

}



.buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
}

button{
    width: 70px;
    height: 70px;
   border-radius: 50px;
   background-color: steelblue;
   border: none;
   margin: 2px;
}

.operator{
   background-color: orange;
   border: none;
}

.function-button{
    background-color: darkcyan;
    border: none;
}

.bottom-button, #equals{
    background-color: salmon;
    width: 90px;
    border-radius: 15px;
    height: 50px;
    margin-top: 10px;
    
    
}

/* Press-down effect */
button:active {
    background-color: rgb(45, 73, 51); /* Darker color for press effect */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); /* Shadow reduction to simulate pressing down */
    transform: translateY(2px); /* Slight movement to simulate depth */
}